#mapId{ width: 650px; height: 450px;}
#mapId2{ width: 650px; height: 450px;}
#mapId3{ width: 1300px; height: 625px; padding: 100px;}
body { padding: 50px;}



/* *{ padding-left: 50px;} */



/* #container{position: absolute; bottom: 0} */

